:root {
    --hollywood: #faebd7;
}

body {
    background-color: black;
    font-family: "Broadway", "Harrington", "Algerian", "Bauhaus 93", "Blackadder ITC", "Monotype Corsiva", "Old English Text MT";
    color: var(--hollywood);
}

header {
    border-style: solid;
    border-color: var(--hollywood);
    padding: 20px;
    margin: 25px;
    position: fixed;left: auto;
    text-align: center;
}

ul {
    list-style-position: inside;
    text-align: left;
}

@media screen and (max-width: 1420px) {
    header {
        position: relative;
    }
    ul {
        text-align: center;
    }
}

@media screen and (max-width: 370px) {
    header {
       border-style: none;
    }
}

a {
    color: var(--hollywood);
}

.MyWork, .AboutMe, .Contact {
    border-style: solid;
    border-color: var(--hollywood);
    padding: 20px;
    margin: auto;
    width: 50%;
    flex-direction: row;right:auto;
    text-wrap: 10px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .MyWork, .AboutMe, .Contact {
        border-style: none;
    }
}

p {
    font-family: "Monotype Corsiva","Harrington", "Algerian", "Bauhaus 93", "Blackadder ITC";
    font-size: large;
}

.Works {
    display: block;
}

h3 {
    vertical-align: text-top;
}